---

---

$navbar-background: #53514f;
$sidebar-width: 280px;
$sidebar-background: #f7f5e7;
$site-background: #fff;

/* body and navbar */

html {
    height: 100%;
}

body {
	margin-top: 0px;
    height: 100%;
    background-color: $site-background;
}

body.books {
    background-color: $site-background;
}

h1, h2, h3, h4, h5, {
    margin-bottom: 15px;
}
 
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
    margin-top: 20px;
}
 
svg:not(:root){
	overflow:inherit
}

.navbar {
    margin-bottom: 0px;
    background-color: $navbar-background !important;
    background: url("../images/background-small.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 0px !important;
}

.navbar-with-sidebar {
    border-radius: 0;
    a { 
        color: #aaa !important; 
    }
    a:hover { 
        color: #fff !important; 
    }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.top-header {
    background: url("../images/header.png");
    background-position: right top;
    height: 120px;
    border-bottom: solid 2px $navbar-background;
    h1, h2 {
        letter-spacing: 0.05em;
    }
    h4, h5 {
        letter-spacing: 0.075em;
    }
}

.container-default {
    padding-top: 20px;
    margin-bottom: 40px;
}

.navbar-fixed-bottom {
    height: 30px;
    background-color: $navbar-background;  
    p {
        margin-top: 5px;
        color: #9d9d9d;
    } 
}

.sublist-group a {
	padding: 4px 15px;
}

.list-group-item {
    background-image: none !important;
    background-color: $sidebar-background;
}
.list-group-item:not(.active):hover {
    background: #fff !important;
}

div.secondary_links {
    margin-bottom: 25px;
    p {
        padding: 0;
        margin: 0;
    }
    a {
        padding: 5px 0px;
        margin-left: 5px;
        display: block;
        background-position: left center;
    }
}

p.news-more {
    font-style: italic;
    margin-top: -10px;
}
div.news {
    padding-bottom: 10px;
}
div.news:not(:last-child) {
    border-bottom: 1px solid $navbar-background;
    margin-bottom: 20px;
}

p.news-more {
    font-style: italic;
    margin-top: 10px;
}

.separator {
    border-top: solid 1px $navbar-background;
    margin-top: 20px;
    padding-top: 10px;
}

.separator-bold {
    border-top: solid 2px $navbar-background;
    margin-top: 20px;
    padding-top: 10px;
}

/* Books */

.container-books {
    padding-top: 20px;
    margin-bottom: 10px;
}

.book-heading {
	padding: 0px 15px 5px 15px;
    text-align: center;
}

// we need popover to be behind the modal dialog
.popover {
    z-index: 999;
}

.popover.arrow {
    display: none;
}

h5.marenzio-modal {
    background-color: $navbar-background;
    color: #aaa;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 2px;
}

p.app_text {
    background-color: #eee;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #999999;
    table {
        counter-reset: rowNumber;
        tr {
            counter-increment: rowNumber;
            td:first-child {
                padding-right: 3em;
            }
            td:last-child::after {
                content: "";
                margin-left: 3em;
                text-align: right;
                float: right;
            }
        }
        tr:nth-child(5n + 0) td:last-child::after {
            content: counter(rowNumber);
        }
    }
}

div.marenzio-modal {
    padding: 0px 10px 5px 10px;
}

div.app-inline, div.app-inline-text {
    display: none;
}

/* Sidebar */

.sidebar-toggle {
  display: inherit !important;
}

.sidebar-panel {
    margin: 20px;
}

.sidebar-row {
    padding-bottom: 10px;
}

/* wrappers */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}

#wrapper.toggled {
    //padding-left: $sidebar-width;
}

#sidebar-wrapper {
    z-index: 900;
    position: fixed;
    left: $sidebar-width;
    background-color: $sidebar-background;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
    background-color: #fff;
}

.sidebar-close-btn {
    padding: 5px;
}

.sidebar-option-row {
    margin-top: 15px;
}

/* larger screen */

@media(min-width:768px) {
    .navbar {
        background: url("../images/background.png");
        background-position: right top;
        background-repeat: no-repeat;
    }
    
    .sidebar-close {
        display: none;
    }

    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.01s ease;
        -moz-transition: all 0.01s ease;
        -o-transition: all 0.01s ease;
        transition: all 0.05s ease;
    }
    
    #wrapper.toggled {
        padding-left: $sidebar-width;
        -webkit-transition: all 0.20s ease;
        -moz-transition: all 0.20s ease;
        -o-transition: all 0.20s ease;
        transition: all 0.20s ease;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: $sidebar-width;
    }

    #page-content-wrapper {
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
