<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd4n0v1b3s3');">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>no sharp before the c2</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1ccd4n0v1b3s3">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – no sharp before the c2</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>