<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('mrest-000000020090771');">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
            [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
            but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
            [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
            the correction).
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('mrest-000000166081969');">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
            [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
            but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
            [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
            the correction).
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('mrest-000000059837306');">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
            [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
            but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
            [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
            the correction).
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('mrest-000000162392123');">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
            [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
            but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
            [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
            the correction).
         </td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="mrest-000000020090771">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
      [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
      but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
      [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
      the correction).
   </div>
   <div class="mrest-000000166081969">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
      [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
      but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
      [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
      the correction).
   </div>
   <div class="mrest-000000059837306">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
      [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
      but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
      [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
      the correction).
   </div>
   <div class="mrest-000000162392123">Vi-1587 Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – Vi-1587: [SB] rest, [BR] rest, [SB] rest (correct); Am-1587: [SB] rest, [BR] rest,
      [L] rest (incorrect); AnGa-1593: [L] rest, preceded by other erased rests (correct,
      but clearly derived from a correction of the Am-1587 reading); Sc_heir-1603 and AnGa-1605:
      [SB] rest, [BR] rest, [L] rest (incorrect, derived from a copy of AnGa-1593 without
      the correction).
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>