<p>
	<b><i>S’io parto, i’ moro, e pur partir conviene</i></b><br/>
	Ridolfo Arlotti<br/>
	Madrigal: AabBCC
</p>

<p class="app_text">
	S’io parto, i’ moro, e pur partir conviene:<br/>
	Morrò, dunque, il mio bene<br/>
	E questa mia partita<br/>
	Che mi ti toglie mi torrà la vita.<br/>
	Dolorosa partita che m’uccidi!<br/>
	Quei che congiuns’Amor perché dividi?
</p>

<h4>Musical sources used for collation</h4>

<p>GA94, GA03, GM14.</p>