---
layout: default
title: MODE - About us
active_section: about
hide_secondary: true
---

<h3>
    Editorial Board of MODE
</h3>

<p>
    The Editorial Board of MODE consists of nine specialists in various disciplines: philology and critical editing, computer science, technologies and history of printing, music theory, and early modern music history.
</p>

<h4>Directing Committee</h4>
    
<p>MODE Co-Directors:</p>
<ul>
	<li>Mauro Calcagno,  University of Pennsylvania</li>
	<li>Giuseppe Gerbino, Columbia University</li>
	<li>Laurent Pugin, Répertoire International des Sources Musicales [RISM], Switzerland</li>
</ul>

<p>MODE Senior Editors:</p>

<ul>
	<li>Christine Jeanneret, University of Copenhagen</li>
	<li>Lucia Marchi, Northeastern Illinois University and De Paul University</li>
</ul>

<h4>Consulting Committee</h4>

<ul>
	<li>Paolo Cecchi, Università di Bologna</li>
	<li>Daniele V. Filippi, Schola Cantorum Basiliensis and Milan</li>
	<li>Thomas Lin, Harvard University</li>
	<li>Arnaldo Morelli, Università dell’Aquila</li>
</ul>

<h3>Advisory Board of MODE</h3>

<ul>
	<li>Jane Bernstein, Tufts University</li>
	<li>Etienne Darbellay, Université de Genève</li>
	<li>James Haar, University of North Carolina, Chapel Hill</li>
	<li>Anthony Newcomb, University of California, Berkeley</li>
</ul>

<script type="text/javascript">

</script>