---
layout: default
title: MODE - Further acknoledgments
active_section: about
active: acknowledgments
hide_secondary: false
---

<h3>
    Further acknowledgments
</h3>

<p>In addition to the National Endowment for the Humanities, MODE has also been supported by:</p>

<ul>
    <li>
        the <a href="http://cdrs.columbia.edu/" target="_blank">Center for Digital Research and Scholarship</a> at Columbia University, which has provided technical assistance both for digital storage and for the building and maintainance of this website; and the <a href="http://library.columbia.edu/content/libraryweb/indiv/music/about.html" target="_blank">Gabe M. Wiener Music &amp; Arts Library</a> also at Columbia, directed by Head Librarian <a href="http://library.columbia.edu/locations/music/staff.html" target="_blank">Elizabeth Davis</a>, which has purchased reproductions and graciously hosted Board’s meetings.
    </li>

    <li>
        the <a href="http://www.stonybrook.edu/commcms/fahss/" target="_blank">FAHSS initiative</a> at Stony Brook University (Faculty in the Arts, Humanities, and lettered Social Sciences) and the <a href="http://www.library.stonybrook.edu/" target="_blank">Stony Brook University Libraries</a>, in particular the <a href="http://guides.library.stonybrook.edu/music-library" target="_blank">Music Library</a> directed by Gisele Schierhorst.
    </li>

    <li>
        the <a href="http://hcl.harvard.edu/libraries/loebmusic/isham/collections.cfm" target="_blank">Isham Memorial Library</a> of the <a href="http://hcl.harvard.edu/libraries/loebmusic/" target="_blank">Eda Kuhn Loeb Music Library</a> at Harvard University, in particular Dr. Sarah Adams, Richard F. French Librarian and Keeper of the Isham Library.
    </li>
</ul>

<p>
    The Editorial Board of MODE is grateful to Columbia University, Stony Brook University, and Harvard University for their support.
</p>

<p>
    Finally, the Editorial Board of MODE warmly thanks: the <a href="http://dhi-roma.it/ma_musikbibliothek.html?&amp;L=11&amp;MP=1308-1157" target="_blank">sezione Storia della Musica</a> of the Istituto Storico Germanico in Rome and its director Dr. Markus Engelhardt for hosting Board’s meetings; Prof. <a href="http://music.case.edu/faculty/ross-duffin/" target="_blank">Ross Duffin</a> of Case Western Reserve University in Cleveland for his generous help with software notational issues; finally, Prof. Philippe Vendrix, director of the <a href="http://cesr.univ-tours.fr/" target="_blank">Centre des Études Supérieures de la Renaissance</a> of the Université François-Rabelais in Tours.
</p>

<script type="text/javascript">

</script>