---
layout: default
title: MODE - Catalogue
active_section: catalogue
hide_secondary: true
---

<h3>Catalogue</h3>

<div style="float: right; margin: 0px 0px 10px 30px; width: 300px" class="hidden-xs">
    <img src="/images/volume.jpg" style="margin-bottom: 5px;"/>
    <p>Book jacket of “Perspectives on Luca Marenzio’s Secular Music”</p>
</div>

<p>
    This section of our website includes the first comprehensive catalogue of Luca Marenzio's secular music, compiled by MODE's Editorial Board member Paolo Cecchi (Associate Professor, University of Bologna, Italy): the "List of Secular and Devotional Compositions by Luca Marenzio" published in <a href="http://www.brepols.net/Pages/ShowProduct.aspx?prod_id=IS-9782503553320-1" target="_blank"><em>Perspectives on Luca Marenzio’s Secular Music</em></a>, edited by <a href="http://www.maurocalcagno.com" target="_blank">Mauro Calcagno</a> within the series “<a href="http://ricercar.cesr.univ-tours.fr/2-publications/0420.htm" target="_blank">Épitome musical</a>” of the Centre d'Études Supérieures de la Renaissance (Turnhout: Brepols, 2014, pp. 465-522). The volume is, in great part, the result of the conference held at Harvard University in 2006, which jumpstarted MODE.
</p>

<p>
    The list compiled by Prof. Cecchi includes all of Luca Marenzio’s vocal compositions based on secular and devotional texts in Italian, grouped by appearance in their first known sources, which, with one exception, are all printed editions. The first section (A) of the list presents all of the compositions published in the twenty-three single-author editions (five books of canzonettas and eighteen of madrigals) that Marenzio published between  1580 and 1599, organized by the number of voices in ascending order. The second section (B) contains compositions that were first published in miscellaneous collections, printed or in manuscript, chronologically ordered and identified by their abbreviations from the RISM volume <em>Recueils imprimés, xvi–xvii siècles.</em>
</p>

<script type="text/javascript">

</script>