---
layout: default
title: MODE - Links
active_section: links
hide_secondary: true
---

<h3>Links</h3>

<ul>
	<li><a href="http://www.neh.gov/grants/research/scholarly-editions-and-translations-grants" target="_blank">National Endowment for the Humanities </a> <a href="http://www.neh.gov/grants/research/scholarly-editions-and-translations-grants" target="_blank">(Scholarly Editions and Translations Grants</a>)</li>
	<li><a href="http://www.aruspix.net/" target="_blank">Aruspix </a>(software)</li>
	<li><a href="http://cdrs.columbia.edu/cdrsmain/?q=index.php" target="_blank">Center for Digital Research and Scholarship at Columbia University</a></li>
	<li><a href="http://umr6576.cesr.univ-tours.fr/equipes/equipes.php?equipe=8" target="_blank">Centre d'Études Supérieures de la Renaissance</a></li>
	<li><a href="http://library.columbia.edu/locations/music.html">Gabe M. Wiener Music Library at Columbia University</a></li>
	<li><a href="http://hcl.harvard.edu/libraries/loebmusic/" target="_blank">Isham Memorial Library at Harvard</a></li>
	<li><a href="http://www.music-encoding.org/" target="_blank">Music Encoding Initiative</a></li>
	<li><a href="https://github.com/music-encoding/sibmei/" target="_blank">Sibmei plugin for Sibelius</a></li>
	<li><a href="http://www.stonybrook.edu/library/music/" target="_blank">Stony Brook Music Library</a></li>
	<li><a href="http://www.verovio.org" target="_blank">Verovio</a> (software)</li>
	<li><a href="http://www.winwg.com/" target="_blank">Wolfgang music notation software (in French)</a></li>
</ul>

<script type="text/javascript">

</script>