---
layout: default
title: MODE - NEH Grant
active_section: about
active: neh-grant
hide_secondary: false
---

<h3>
    NEH Grant
</h3>

<p>
    In July 2011, MODE was awarded a three-year grant from the National Endowment for the Humanities (U.S.A.) as part of the "Scholarly Editions and Translations" program. The <a title="Participants in the Marenzio Project" href="http://marenzio.cdrs.columbia.edu/participants-in-mode/">Editorial Board</a> acknowledges, and is grateful for, the generous support of NEH. <strong>Any views, findings, conclusions, or recommendations expressed in this website (and in the files that can be downloaded from it) do not necessarily reflect those of the National Endowment for the Humanities.</strong>
</p>

<p>
    The participants in the NEH grant are:
</p>
<ul>
     <li>Mauro Calcagno, MODE Director, NEH Project Principal Investigator (University of Pennsylvania)</li>
     <li>Giuseppe Gerbino, MODE Co-director, NEH Project Co-Principal Investigator (Columbia University)</li>
     <li>Laurent Pugin, MODE Co-director (Répertoire International des Sources Musicales [RISM], Switzerland)</li>
     <li>Christine Jeanneret, MODE Senior Editor (University of Copenhagen)</li>
     <li>Lucia Marchi, MODE Senior Editor (Northeastern Illinois and De Paul University)</li>
     <li>Daniele Filippi, member of MODE Consulting Committee  (Schola Cantorum Basiliensis and Milan)</li>
     <li>Paolo Cecchi, member of MODE Consulting Committee (Università di Bologna)</li>
</ul>

<script type="text/javascript">

</script>