<title>{{ page.title }}</title>
<link rel="icon" type="image/x-icon" href="{{ site.fakeurl }}favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /><!-- Latest compiled and minified CSS -->

<!-- V1 http://getbootstrap.com/customize/?id=ec152d93f1499e757402 -->
<link rel="stylesheet" href="{{ site.fakeurl }}css/bootstrap.min.css" type="text/css" /><!-- Optional theme -->
<link rel="stylesheet" href="{{ site.fakeurl }}css/bootstrap-theme.min.css" type="text/css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.fakeurl }}css/marenzio.css" />

<script src="{{ site.fakeurl }}javascript/jquery.min.js" type="text/javascript" ></script>
<script src="{{ site.fakeurl }}javascript/bootstrap.min.js" type="text/javascript" ></script>
<script src="{{ site.fakeurl }}javascript/jquery.cookie.js" type="text/javascript"></script>
