<footer class="navbar-fixed-bottom">
    <div class="container">
        <div class="rism-footer-text">
            <p>© 2016 – The Marenzio Online Digital Edition</p>
        </div>
    </div>
</footer>
