<div class="top-header"> 
    <div class="container" style="color: #fff; height: 140px; padding-top: 5px;"> 
        <div class="hidden-xs">
            <h1>MODE</h1> 
            <h4>Marenzio Online Digital Edition</h4>
        </div>
        <div class="visible-xs">
            <h2>MODE</h2> 
            <h5>Marenzio Online Digital Edition</h5>
        </div>
    </div>
</div>