<h4>Contemporary edition</h4>
<p>
   	None. Preserved in manuscript form in Ferrara, Biblioteca Comunale Ariostea, 252.  
</p>

<h4>Modern edition</h4>
<p>
    G. Battista Pigna, <em>Il ben divino: inedito a cura di Neuro Bonifazi</em> (Bologna: Commmissione per i testi di lingua, 1965), 87.
</p>