<h3 class="page-header">A – Sources used for collation</h3>
<h4 class="page-header">1 – Venice: Angelo Gardano, 1580. AnGa, 1580</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A CINQVE VOCI NOVAMENTE | Composti,
   &amp; dati in luce. | [printer’s mark] | In Venetia appresso Angelo Gardano. | M D LXXX.
</p>
<p>Set of 5 partbooks in 4°, oblong format: CANTO ([A]/A<sub>2</sub>-C/C<sub>2</sub>) of (2) = 19 [<em>recte</em> 21] + (1) pp., TENORE
   (D/D<sub>2</sub>-E/E<sub>2</sub>) of (2) + 18 pp., ALTO (G/G<sub>2</sub>-I/I<sub>2</sub>) of (2) + 19 [<em>recte </em>21] + (1) pp., BASSO (K/K<sub>2</sub>-L/L<sub>2</sub>, M) of (2) + 18) pp., QVINTO (N/N<sub>2</sub>-P/P<sub>2</sub>) of (2) + 19 + (3) pp. 
</p>
<p>In the Quinto partbooks pages (21) and (22) are blank.</p>
<p>The first signature of each gathering (except for the titlepage) bears the inscription
   “Madrig. di Luca Marenzio libro primo A 5.”
</p>
<p>On p. (2): ALL’ILLVSTRISS. ET REVERENDISS. SIGNOR | ET PATRON MIO SEMPRE COLENDISSIMO.
   | IL SIGNOR CARDINALE D’ESTE. |
</p>
<p>Io non prosumo tanto di me, ne sono cosi poco conoscitore dell’imperfettione di queste
   | mie fatiche, che presentandole à V.S. Illustrissima m’imagini di offerirle cosa
   non
   inde- | gna di lei; ma essendo io fatto suo non solamente per obligo di seruitù, ma
   per elettione | di volontà, &amp; per debito di infiniti fauori ricevuti senz’alcun merito
   mio dalla sua singolar | cortesia, vengo à sodisfarle (se non come debbo almen come
   posso) quel segno che son | tenuto darli per tanti rispetti. Degnisi V.S. Illustrissima
   di
   gradire con l’usata sua beni- | gnità questa prontezza dell’animo mio, &amp; co[n]tentisi
   che dal lume della grandezza sua pren- | dano queste mie primitie quello spirito,
   che
   non hà potuto lor dare il mio poco intelletto. | Con che humilissimamente le bacio
   la mano, &amp; li prego ogni desiderata felicità. Di Roma il di 8. Agosto 1580. | Di V.S.
   Illustrissima &amp; Reuerendissima | Humiliss, &amp; obligatiss. Seuitore | Luca Marentio.
</p>
<p><em>Extant copies </em>(complete unless stated otherwise): D-Mbs, GB-Lwa, I-Bc, I-Nf, PL-Kj (TB), I-Vnm (B)
</p>
<p><em>References</em>: RISM A/1 530, NV 1597, <em>MMB</em> 246
</p>
<p><em>Consulted copies</em>: D-Mbs, GB-Lwa, I-Bc, PL-Kj (TB), I-Vnm (B)
</p>
<p><em>Comments</em></p>
<p>The copy preserved in I-Bc has a handwritten annotation (“Ristampe dallo stesso in
   Ven. 1587, 1602.”) at the bottom of the frontispiece in the Canto partbook. The following
   handwritten inscription appears on p. (22) in the Quinto partbook: “Al Molto R[everen]do
   Sig[nor] mio Sig[nor] et [?] Col[endissi]mo | M[onsigno]re Don Pietro Maria Mansoli
   |
   Al Molto R[everen]do Sig[no]r mio il S[igno]r don Pietro M[aria] Manzolo Ferrara.”
</p>
<h4 class="page-header">2 – Venice: Angelo Gardano, 1582. AnGa, 1582</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A CINQVE VOCI NOVAMENTE | Con ogni
   diligentia ristampati. | [printer’s mark] | In Venetia Appresso Angelo Gardano | M
   D
   LXXXII.
</p>
<p>Set of 5 partbooks in 4°, oblong format: CANTO ([A/A<sub>2</sub>-C/C<sub>2</sub>) of (2) + 19 [<em>recte</em> 21] + (1) pp., TENORE
   (D/D<sub>2</sub>, E/E<sub>2</sub>, F) di (2) +18 pp., ALTO (G/G<sub>2</sub>-I/I<sub>2</sub>) di (2) + 19 [<em>recte</em> 21] + (1) pp., BASSO (K/K<sub>2</sub>, L/L<sub>2</sub>, M) di (2) + 18 pp., QVINTO (N/N<sub>2</sub>-P/P<sub>2</sub>) di (2) + 19 + (3) pp.
</p>
<p>In the Quinto partbook pages (21) and (22) are blank.</p>
<p>The first signature of each gathering (except for the titlepage) bears the inscription
   “Madrig. di Luca Marenzio libro primo A 5.”
</p>
<p>On p. (2): ALL’ILLVSTRISS. ET REVERENDISS. SIGNOR | ET PATRON MIO SEMPRE COLENDISSIMO.
   | IL SIGNOR CARDINALE D’ESTE. |
</p>
<p>Io non prosumo tanto di me, ne sono cosi poco conoscitore dell’imperfettione di queste
   | mie fatiche, che presentandole à V.S. Illustrissima m’imagini di offerirle cosa
   non
   inde- | gna di lei; ma essendo io fatto suo non solamente per obligo di seruitù, ma
   per elettione | di volontà, &amp; per debito di infiniti fauori ricevuti senz’alcun merito
   mio dalla sua singolar | cortesia, vengo à sodisfarle (se non come debbo almen come
   posso) quel segno che son | tenuto darli per tanti rispetti. Degnisi V.S. Illustrissima
   di
   gradire con l’usata sua beni- | gnità questa prontezza dell’animo mio, &amp; co[n]tentisi
   che dal lume della grandezza sua pren- | dano queste mie primitie quello spirito,
   che
   non hà potuto lor dare il mio poco intelletto. | Con che humilissimamente le bacio
   la mano, &amp; li prego ogni desiderata felicità. Di Roma il di 1. Giugno 1582. | Di V.S.
   Illustrissima &amp; Reuerendissima | Humiliss. &amp; obligatiss. Seuitore | Luca Marenzio.
</p>
<p><em>Extant copies </em>(complete unless stated otherwise): A-Wn (Q), D-As, F-Pn, GB-Lbl (A), I-Bc, I-Fc (Q),
   I-Ra, I-Rdp (CAB), I-Rsc (AQ incomplete), I-Sd
   (CT), I-Vnm (Q), PL-GD, PL-Kj (CQ), V-CVbav (Q)
</p>
<p><em>References</em>: RISM A/1 531, NV 1598, <em>MMB</em> 247
</p>
<p><em>Consulted copy</em>: I-Bc, I-Rsc (AQ incomplete),
</p>
<p><em>Notes</em>: The incomplete Alto (pp. 17-18) and Quinto (pp. 7-19) partbooks in I-Rsc are bound
   with a handwritten titlepage erroneously identifying them as
   belonging to Gar1580. 
</p>
<h4 class="page-header">3 – Venice: Giacomo Vincenzi and Ricciardo Amadino, 1586. Vin &amp; Am, 1586</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | a Cinque Voci, nouamente con ogni
   | diligentia ristampati. | [printer’s mark] | <em>IN VENETIA </em>| <em>Presso Giacomo Vincenzi, &amp; Ricciardo Amadino compagni. </em>| <em>M D LXXXVI.</em></p>
<p>Set of 5 partbooks in 8°, vertical format: ([A]-A<sub>6</sub>) of (2) + 19 [<em>recte</em> 21 + (1) pp., TENORE (B-B<sub>5</sub>) of
   (2) + 18 pp., ALTO (C-C<sub>6</sub>) of (2) + 19 [<em>recte</em> 21] + (1) pp., BASSO (D-D<sub>5</sub>) of (2) + 18 pp., QVINTO
   (E-E<sub>6</sub>) of (2) + 18 [<em>recte</em> 19] + (1) pp. 
</p>
<p>Gathering signatures with an odd number (except for the titlepage) bear the inscription
   “Madrig. Di Luca Marenzio libro primo A 5.”
</p>
<p>No dedication; p. (2) is blank in all partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): A-Wn (CATB), B-Gu (ATB), GB-Lcm, GB-Lbl (T), I-Bc,
   I-Nn (A), NL-DHgm (Q)
</p>
<p><em>References</em>: RISM A/1 532, NV 1601, <em>MMB</em> 248
</p>
<p><em>Consulted copy</em>: I-Bc
</p>
<h4 class="page-header">4 – Venice: Angelo Gardano, 1587. AnGa, 1587</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A CINQUE VOCI | Nouamente con ogni
   diligentia ristampati. | [printer’s mark] | In Venetia Appresso Angelo Gardano | M
   D
   LXXXVII.
</p>
<p>Set of 5 partbooks in 4°, oblong format: CANTO ([A]/A<sub>2</sub>-C/C<sub>2</sub>) of (2) +19 [<em>recte</em> 21] + (1) pp., TENORE
   (D/D<sub>2</sub>-E/E<sub>2</sub>, F) of (2) + 18 pp., ALTO (G/G<sub>2</sub>-I/I<sub>2</sub>) of (2) + 19 [<em>recte</em> 21] + (1) pp., BASSO (K/K<sub>2</sub>-L/L<sub>2</sub>, M) of (2) + 18 pp., QVINTO (N/N<sub>2</sub>-P/P<sub>2</sub>) of (2) + 19 (3) pp.
</p>
<p>In the Quinto partbook pages (21) and (22) are blank.</p>
<p>Gathering signatures with an odd number (except for the titlepage) bear the inscription
   “Madrigali di Luca Marenzio. Lib. I. A 5.”
</p>
<p>No dedication; p. (2) is blank in all partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): A-Wn, D-As, D-B, F-Pn, GB-Lbl (CATQ), I-Bc (ABQ),
   I-Fn (AQ), I-Sd (B), I-ST (C), I-VIb (B), NL-DHgm
   (A), P-Cug (Q incomplete), 
</p>
<p><em>References</em>: RISM A/1 533, NV 1602, <em>MMB</em> 249
</p>
<p><em>Consulted copy</em>: A-Wn
</p>
<h4 class="page-header">5 – Venice: Giacomo Vincenzi, 1588. Vi, 1588</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A CINQUE VOCI. | <em>Nouamente con ogni diligentia ristampati</em>. | [printer’s mark] | In Venetia Presso
   Giacomo Vincenci. [<em>sic</em>] | M D LXXXVIII
</p>
<p>Set of 5 partbooks in 4°, oblong format: CANTO (pp. 1-19 [<em>recte</em> 20] in the only surviving copy in I-PS) (A<sub>2</sub>-C/C<sub>2</sub>), TENORE (D/D<sub>2</sub>, E/E<sub>2</sub>, M) of (2) + 19 + (1) pp., ALTO (pp. 1-19 [<em>recte</em> 20] in
   the only surviving copy in I-PS) (G<sub>2</sub>-I/I<sub>2</sub>), BASSO (pp. 1-19 + (1) in the only surviving copy in I-PS) (K<sub>2</sub>-M/M<sub>2</sub>), QVINTO (N/N<sub>2</sub>-P/P<sub>2</sub>) of (2) + 19 + (3) pp.
</p>
<p>In the Quinto partbook pages (21) and (22) are blank.</p>
<p>Gathering signatures with an odd number (except for the titlepages) bear the inscription
   “Madrigali di Luca Marenzio. Lib. I. A 5.”
</p>
<p>No dedication; p. (2) is blank in all partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): I-Bc (Q), I-PS (CAB complete; T and Q incomplete),
   US-Bem (T)
</p>
<p><em>References</em>: RISM A/1 534, NV 1603, <em>MMB</em> 250
</p>
<p><em>Consulted copies</em>: I-Bc (A), I-PS (CAB complete; T and Q incomplete), US-Bem (T)
</p>
<p><em>Comments</em></p>
<p>The Quinto partbook in I-Bc has the following handwritten inscription: “D di Girolamo
   [?] | sacerdote di Siena
</p>
<h4 class="page-header">6 – Venice: Erede di Girolamo Scotto, 1600. Sc [heir], 1600</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO | DE MADRIGALI | A Cinque Voci. | <em>Nouamente ristampati</em>. | [printer’s mark] | <em>IN VENETIA
      </em>MDC. | <em>Appresso l’Herede di Gierolamo Scoto</em>. 
</p>
<p>Set of 5 partbooks in 8°, vertical format: ALTO (G/G<sub>2</sub>-I/I<sub>2</sub>) of (2) + 3-21 [<em>recte </em>23] + (1) pp., BASSO
   (K/K<sub>2</sub>-M) of (2) + 3-20 pp., QVINTO (N/N<sub>2</sub>-P/P<sub>2</sub>) of (2) + 3-20 [<em>recte </em>21] +
   (1) pp.
</p>
<p>The first letter of each gathering signature (except for the titlepages) bears the
   inscription “Di Luca Marenzio. Lib. I. à 5.”
</p>
<p>In the Bass partbook, pp. 17-20 from the Tenor have been erroneously inserted between
   pages 18-19.
</p>
<p>No dedication; p. (2) is blank in all surviving partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): GB-Lbl (BQ), I-Vnm (A)
</p>
<p><em>References</em>: RISM A/1 535, NV 1604, <em>MMB</em> 251
</p>
<p><em>Consulted copies</em>: GB-Lbl (BQ), I-Vnm (A)
</p>
<h4 class="page-header">7 – Venice: Angelo Gardano, 1602. AnGa, 1602</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A CINQUE VOCI | Nouamente con ogni
   diligentia ristampati. | [printer’s mark] | In Venetia Appresso Angelo Gardano. |
   M. D.
   CII.
</p>
<p>Set of 5 partbooks in 4°, oblong format: CANTO ([A]/Iij [<em>recte </em>Aij]-C/C2) of (2) +19 [<em>recte </em>21] + (1) pp., TENORE
   (D/Dij-E/E3) of (2) + 18 pp., ALTO (F/Fij-H/H2) of (2) + 10 [<em>recte </em>21] + (1) pp., BASSO (I/I2-K/K3) of (2) + 18 pp., QVINTO (L/Lij-N/N2) of (2) + 19
   + (3) pp.
</p>
<p>In the Quinto partbook pp. (21) and (22) are blank.</p>
<p>The first letter of each gathering signature bears one of the following inscriptions:
   “Madrigali di Luca Marenzio. Lib. I. A 5.” “Madrigali di Lucaarenzo. Lib. I. A 5.”
   “Madrigali di Luca Marenzo. Lib. I. A 5.”
</p>
<p>No dedication; p. (2) is blank in all partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): B-Bc, D-Rp (C), F-Pnm, I-Bc, I-Bsp, I-Nc, I-Sd
   (T), US-BU (Q), 
</p>
<p><em>References</em>: RISM A/1 536, NV 1605, <em>MMB</em> 252
</p>
<p><em>Consulted copies</em>: I-Bc
</p>
<h4 class="page-header">8 – Venice: Erede di Girolamo Scotto, 1608. Sc [heir], 1608</h4>
<p>DI LVCA MARENZIO | IL PRIMO LIBRO DE MADRIGALI | A Cinque Voci. | <em>Nouamente ristampati</em>. | [printer’s mark] | IN VENETIA Appresso l’Herede di Girolamo
   Scoto. | MDCVIII.
</p>
<p>Set of 5 partbooks in 8°, vertical format: CANTO (A/A<sub>2</sub>-C/C<sub>2</sub>) of (2) + 3-21 [<em>recte</em> 23] + (1) pp.,
   TENORE (D/D<sub>2</sub>-E/E<sub>2</sub>, F) of (2) + 3-20 pp., ALTO (G/G<sub>2</sub>-I/I<sub>2</sub>) of (2) + 3-21 [<em>recte</em> 23] + (1) pp., BASSO (K/K<sub>2</sub>-L/L<sub>2</sub>, M) of (2) + 3-20 pp.
</p>
<p>The first letter of each gathering signature (except for titlepages) bears the inscription
   “Di Luca Marenzio lib. I. à 5.”
</p>
<p>No dedication; p. (2) is blank in all surviving partbooks.</p>
<p><em>Extant copies </em>(complete unless stated otherwise): I-PAmc (CATB)
</p>
<p><em>References</em>: RISM A/1 537, NV 1606, <em>MMB</em> 253
</p>
<p><em>Consulted copies</em>: I-PAmc (CATB)
</p>
<h3 class="page-header">B – Other Sources</h3>
<p><b>Ph &amp; Be, 1593 = </b>Madrigali a cinque voci ridotti in un corpo. Pierre Phalèse and Jean Bellère, Antwerp
   1593.
</p>
<p><b>Ka, 1601 = </b>Lucae Marentii, musicii celeberrimi, madrigalia quinque vocum, anteà Venetiis, diversis
   temporibus, novem separatis edita libris, jam verò,
   commodioris usus caussâ, uno volumine conjunctim excusa [sic]. Paul Kauffmann, Nuremberg
   1601.
</p>
<p><b>Ra, 1608 = </b>Il primo libro de madrigali a cinque voci di Luca Marenzio novamente con ogni diligenza
   ristampati. Alessandro Raveri, Venezia 1608.
</p>
<p><b>Ph, 1609 =</b> Il primo, secondo, terzo, quarto &amp; quinto libro de madrigali a cinque voci. Pierre
   Phalèse, Antwerp 1609 (does not contain “O tu che fra le
   selve occulta vivi”).
</p>