<p>
    Edited by Daniele Filippi
</p>
<p>
   On January 1<sup>st</sup>, 1594 Marenzio signed the dedication of his <em>Sesto libro de madrigali a cinque voci</em> to Cinzio Aldobrandini Passeri (1551–1610), nephew of Pope Clement VIII and recently appointed cardinal. Aldobrandini was a distinguished patron of artists and poets, famously of Torquato Tasso; Battista Guarini, G. Bardi and Angelo Grillo, among others, were part of his patronage network. The dedication, entirely constructed from genre-specific topoi and cliché, does not shed any further light on the circumstances of the composition and of the arrangement for publication.
</p>