---
layout: default
title: "Launch of our new website"
date: 2016-08-10
post: true
---

<div>
    <div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
        <img src="/images/news/website.png"/>
    </div>
    
    <p>
        We are pleased to announce the launch of our new website! The website includes information pages about our  project and a front-end to our edition. Both the information pages and the edition front-end are fully optimized for desktop and mobile devices.
    </p>
</div>

<!-- Extended content of the post -->

<p>
    The website includes a news section where we will be able to keep you up-to-date with our latest achievements. On the edition front-end side, all madrigals that we have edited up to now are available and can be browsed.
</p>
<p>
    We hope you find the new website easy to use and informative. Please send us your feedback: <a href="mailto:info@marenzio.org">info@marenzio.org</a>
</p>


