<html lang="en" xml:lang="en" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/1999/xhtml">
    <head>

        {% include common-header.html %}
        
        <!-- midi-player -->
        <link rel="stylesheet" href="{{ fakeurl.baseurl }}/css/midiplayer.css" />
        <script src="{{ site.fakeurl }}javascript/midi-player/wildwebmidi.js" type="text/javascript"></script>
        <script src="{{ site.fakeurl }}javascript/midi-player/midiplayer.js" type="text/javascript"></script>
        
    </head>
    <body>
        
        {% if page.saxon %}
        <!-- Saxon-CE -->
        <script type="text/javascript" language="javascript" 
            src="{{ site.fakeurl }}javascript/Saxonce/Saxonce.nocache.js">
        </script>
        {% endif %}  
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ site.fakeurl }}javascript/jquery.touchSwipe.min.js" type="text/javascript" ></script>
        
        <script src="{{ site.fakeurl }}javascript/verovio-toolkit.js" type="text/javascript" ></script>
        <script type="text/javascript" src="{{ site.fakeurl }}javascript/d3.min.js"></script>
        <script type="text/javascript" src="{{ site.fakeurl }}javascript/jquery.scrollTo.js"></script>

        <script type="text/javascript">
        //<![CDATA[
            var vrvToolkit = new verovio.toolkit();
            var page = 1;
            var zoom = 40;
            var pageHeight = 2970;
            var pageWidth = 2100;
            var swipe_pages = false;
            var log = false;
            var app_xpath = "";
            var vertical_layout = false;
            var show_inline_app = false;
            var highlighted = "";
            var clicked_ids = "";
            var toggle = true;
            var ids = [];

            // reload cookies
            if ( $.cookie('zoom') ) zoom = $.cookie('zoom');
            if ( $.cookie('toggle') ) toggle = ($.cookie('toggle') == "true");
            if ( $.cookie('vertical_layout') ) vertical_layout = ($.cookie('vertical_layout') == "true");
    
            function set_options( ) {
                if (vertical_layout) {
                    pageHeight = 60000;
                }
                else {
                    pageHeight = ($(window).height() - $( "#navbar" ).height() - 4) * 100 / zoom ;
                }
                pageWidth = ( $("#page-content-wrapper").width() ) * 100 / zoom ;
                border = 50;
                options = JSON.stringify({
                            inputFormat: 'mei',
                            pageHeight: pageHeight,
                            pageWidth: pageWidth,
                            border: border,
                            scale: zoom,
                            appXPathQuery: app_xpath,
                            adjustPageHeight: 1,
                            ignoreLayout: 1
                        });
                // console.log( options );
                vrvToolkit.setOptions( options );
            }
            
            function load_file() {
                file = "{{ site.fakeurl }}mei/{{ page.mei-file }}";
                $.ajax({
                    url: file
                    , dataType: "text"
                    , success: function(data) {
                        load_data(data);
                    }
                });
            }
    
            function load_data(data) {
                highlighted = "";
                clicked_ids = "";
                set_options();
                vrvToolkit.loadData(data);

                $("#total_text").html(vrvToolkit.getPageCount());
                page = 1;
                load_page();
            }
            
            function load_page_with_element( xmlIds ){

                $( ".modal").modal('hide');
                
                highlighted = xmlIds;
                var ids = xmlIds.split(" ");
                
                var elementPage = vrvToolkit.getPageWithElement( ids[0] );
                if (elementPage == 0) {
                    //console.log( "ID not found" );
                    return;
                }
                page = elementPage;
                load_page();
                
                // scroll
                var a = d3.select( "#" + ids[0] );
                if (!a.empty()) {
                    var y = (a[0][0].getBBox().y) * zoom / 1000; // 100 * 10 because of the def factor in SVG
                    $('body').scrollTo( parseInt( y - 50 ), 300, { axis:'y' } );
                }

            }
            
            function show_highlighted() {
                if (highlighted == "") {
                    return;
                }
                var ids = highlighted.split(" ");
                var i;
                for (i = 0; i < ids.length; i++) {
                    d3.selectAll( "#" + ids[i] + " *" ).style("fill", "#e25402").style("stroke", "#e25402");
                }
            }
            
            function load_page() {
                $("#jump_text").val(page);
                
                $( ".popover" ).popover('hide');
                
                svg = vrvToolkit.renderPage(page, "");
                $("#svg_output").html(svg);
                
                if (show_inline_app) {
                    highlight_inline_app();
                    highlight_inline_app_text();
                }
                
                adjust_page_height();
                show_highlighted();
                
                d3.select("#svg_output").select("svg").selectAll(".verse").on("mousedown", stack_id );
                
            };
            
            function highlight_inline_app() {
                d3.selectAll('.app-inline div').each( function(selection) {
                    var s = d3.select(this);
                    //console.log(s.text() ); 
                    if (!s.empty()) {
                        var element = d3.select("#" + s.attr("class"));
                        if (!element.empty()) {
                            element.attr("class", "highlight")
                                .attr('data-content', s.html() )
                                .style("fill", "#e25402").style("stroke", "#e25402");
                        }
                    }    
                });
                $('.highlight').popover({
                   'trigger':'hover manual'
                   ,'container': 'body'
                   ,'placement': 'auto'
                   ,'white-space': 'nowrap'
                   ,'html':'true'
                });
                $( ".highlight" ).popover('show');
            }
            
            // unused
            function highlight_inline_app_text() {
                d3.selectAll('.app-inline-text div').each( function(selection) {
                    var s = d3.select(this);
                    //console.log(s.text() ); 
                    if (!s.empty()) {
                        var element = d3.select("#" + s.attr("class"));
                        if (!element.empty()) {
                            // Highligt the bounding boxes
                            var elementBB = element[0][0].getBBox();
                            element.append("rect")
                                  .attr("x", elementBB.x - 5).attr("y", elementBB.y - 5)
                                  .attr("width", elementBB.width + 10).attr("height", elementBB.height + 10)
                                  .attr("fill", "e25402").attr("fill-opacity", 0.1)
                                  .attr("stroke", "e25402").attr("stroke-width", 2);
                            element.attr("class", "highlight")
                                .attr('data-content', s.html() ) 
                                .style("fill", "#e25402").style("stroke", "#e25402");
                        }
                    }    
                });
                $('.highlight').popover({
                   'trigger':'hover'
                   ,'container': 'body'
                   ,'placement': 'auto'
                   ,'white-space': 'nowrap'
                   ,'html':'true'
                });
            }
            
            function next_page() {
                if (page >= vrvToolkit.getPageCount()) {
                    return;
                }
                
                page = page + 1;
                load_page();
            };
            
            function prev_page() {
                if (page <= 1) {
                    return;
                }

                page = page - 1;
                load_page();
            };

            function first_page() {
                page = 1;
                load_page();
            };
    
            function last_page() {
                page = vrvToolkit.getPageCount();
                load_page();
            };

            function apply_zoom() {
                $.cookie('zoom', zoom, { expires: 30 });
                set_options();
                vrvToolkit.redoLayout();

                $("#total_text").html(vrvToolkit.getPageCount());
                page = 1;
                load_page();
            }

            function zoom_out() {
                if (zoom < 20) {
                    return;
                }

                zoom = zoom / 2;
                apply_zoom();
            }

            function zoom_in() {
                if (zoom > 80) {
                    return;
                }

                zoom = zoom * 2;
                apply_zoom();
            }

            function do_page_enter(e) {
                key = e.keyCode || e.which;
                if (key == 13) {

                    text = $("#jump_text").val();

                    if (text <= vrvToolkit.getPageCount() && text > 0) {
                        page = Number(text);
                        load_page();
                    } else {
                        $("#jump_text").val(page);
                    }

                }
            }
            
            function do_zoom_enter(e) {
                key = e.keyCode || e.which;
                if (key == 13) {
                    text = $("#zoom_text").val();
                    zoom_val = Number(text.replace("%", ""));
                    if (zoom_val < 10) zoom_val = 10;
                    else if (zoom_val > 160) zoom_val = 160;    
                    zoom = zoom_val;
                    apply_zoom();
                }
            }
            
            function adjust_page_height() {
                // adjust the height of the panel
                if ( $('#svg_panel svg') ) {
                    zoomed_height = pageHeight * zoom / 100;
                    if ( vertical_layout || (zoomed_height < $('#svg_panel svg').height()) ) {
                        zoomed_height = $('#svg_panel svg').height();
                    }
                    $('#svg_output').height( zoomed_height ); // slighly more for making sure we have no scroll bar    
                }
                
                // also update the zoom control
                $("#zoom_text").val(zoom + "%");
                
                // enable the swipe (or not)
                enable_swipe( ( $('#svg_panel svg') && ( $('#svg_panel svg').width() <= $('#svg_panel').width() ) ) );
            }
            
            function swipe_prev(event, direction, distance, duration, fingerCount) {
                  prev_page();
             }
             
             function swipe_next(event, direction, distance, duration, fingerCount) {
                 next_page();
             }
             
             function swipe_zoom_in(event, target) {
                 //zoom_in();
             }
             
             function swipe_zoom_out(event, target) {
                 //zoom_out();
             }
             
            function enable_swipe( pages ) {
                if ( pages && !swipe_pages ) {
                    $("#svg_output").swipe( "destroy" );
                    $("#svg_output").swipe( { swipeLeft: swipe_next, swipeRight: swipe_prev, tap: swipe_zoom_in, doubleTap: swipe_zoom_out, allowPageScroll:"auto"} );
                    swipe_pages = true;
                }
                // zoom only
                else if ( !pages && swipe_pages ) {
                    $("#svg_output").swipe( "destroy" );
                    $("#svg_output").swipe( { tap: swipe_zoom_in, doubleTap: swipe_zoom_out, allowPageScroll:"auto"} );
                    swipe_pages = false;        
                }
            }
            
            function stack_id(  ) {
                var element = d3.select(this);
                clicked_ids += " " + ( element.attr("id") );
                console.log( clicked_ids );
            };
            
            function switch_app( xpath ) {
                app_xpath = xpath;
                //console.log( app_xpath );
                // For now we cannot have original clefs in alternate versions
                if (xpath.length > 0) {
                     $('input[type=radio][name=clefs][value=clefs_modernized]').prop('checked', true).parent().addClass("active");
                     $('input[type=radio][name=clefs][value=clefs_original]').prop('checked', false).parent().removeClass("active");
                 }
                load_file();
            }
            
            function play_midi() {
                var base64midi = vrvToolkit.renderToMidi();
                var song = 'data:audio/midi;base64,' + base64midi;
                $("#player").show();
                $("#play-button").hide();
                $("#player").midiPlayer.play(song);
            }
    
            var midiUpdate = function(time) {
                var vrvTime = Math.max(0, 2 * time - 800);
                var elementsattime = JSON.parse(vrvToolkit.getElementsAtTime(vrvTime))
                if (elementsattime.page > 0) {
                    if (elementsattime.page != page) {
                        page = elementsattime.page;
                        load_page();
                    }
                    if ((elementsattime.notes.length > 0) && (ids != elementsattime.notes)) {
                        ids.forEach(function(noteid) {
                            if ($.inArray(noteid, elementsattime.notes) == -1) {
                                $("#" + noteid ).attr("fill", "#000");
                                $("#" + noteid ).attr("stroke", "#000"); 
                                //$("#" + noteid ).removeClassSVG("highlighted"); 
                            }
                        });
                        ids = elementsattime.notes;
                        ids.forEach(function(noteid) {
                            if ($.inArray(noteid, elementsattime.notes) != -1) {
                            //console.log(noteid);
                                $("#" + noteid ).attr("fill", "#c00");
                                $("#" + noteid ).attr("stroke", "#c00");; 
                                //$("#" + noteid ).addClassSVG("highlighted"); 
                            }
                        }); 
                    }
                }
            }
    
            var midiStop = function() {
                ids.forEach(function(noteid) {
                    $("#" + noteid ).attr("fill", "#000");
                    $("#" + noteid ).attr("stroke", "#000"); 
                    //$("#" + noteid ).removeClassSVG("highlighted"); 
                });
                $("#player").hide();
                $("#play-button").show();
            }
    
            $.fn.addClassSVG = function(className){
                $(this).attr('class', function(index, existingClassNames) {
                    return existingClassNames + ' ' + className;
                });
                return this;
            };

            $.fn.removeClassSVG = function(className){
                $(this).attr('class', function(index, existingClassNames) {
                    //var re = new RegExp(className, 'g');
                    //return existingClassNames.replace(re, '');
                });
                return this;
            };

        //]]>
        </script>

        
        <div id="wrapper">
            
            <!-- sidebar -->
            <div id="sidebar-wrapper" class="toggled">
                

                <!-- top navbar -->
                <div class="sidebar-close"> 
                    <div class="navbar-header">
                        <img src="{{ site.fakeurl }}images/close-1.png" class="pull-left sidebar-close sidebar-close-btn" data-toggle="offcanvas"></img>
                    </div>
                </div>
                
                <div class="navbar-collapse sidebar-close">
                    {% include edition-menu.html %}
                </div>
                
                <div class="sidebar-panel">
                    <div class="row">
                        <div class="col-xs-9">
                            <h4>Navigation</h4>
                        </div>
                    </div>
                    <div class="row sidebar-row">
                        <div class="col-xs-12">
                            <button class="btn btn-default btn-sm pull-left popover-btn" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="On mobile devices, you can swipe left or right to change page and tap or double tap to zoom-in or zoom-out. On desktops, you can use [ctrl+] left or right arrows and +/- keys.">
                                <span class="glyphicon glyphicon-question-sign"/>
                            </button>
                        </div>
                    </div>
                    <div class="row sidebar-row">
                        <div class="col-md-12">
                            <p>
                                Page [1-<span id="total_text">1</span>]:
                            </p>
                            <div class="col-xs-1 input-group input-group-sm">
                                <span class="input-group-btn">
                                    <button onclick="first_page()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-fast-backward"/>
                                    </button>
                                    <button onclick="prev_page()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-backward"/>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="0" id="jump_text" style="width: 45px !important;" onkeypress="do_page_enter(event)"/>
                                <span class="input-group-btn">
                                    <button onclick="next_page()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-forward"/>
                                    </button>
                                    <button onclick="last_page()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-fast-forward"/>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <div class="row sidebar-row">
                        <div class="col-md-6">
                            <p>
                                Zoom:
                            </p>
                            <div class="col-xs-2 input-group input-group-sm">
                                <span class="input-group-btn">
                                    <button onclick="zoom_out()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-zoom-out"/>
                                    </button>
                                </span>
                                <input type="text" class="form-control" style="width:60px !important;" placeholder="100%" id="zoom_text" onkeypress="do_zoom_enter(event)"/>
                                <span class="input-group-btn">
                                    <button onclick="zoom_in()" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-zoom-in"/>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <div class="row sidebar-row">
                        <div class="col-xs-12">
                            <p>
                                Page layout:
                            </p>
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default btn-sm">
                                    <input type="radio" name="layout" value="layout_horizontal"/>Horizontal
                                    <span class="glyphicon glyphicon-resize-horizontal"/>
                                </label>
                                <label class="btn btn-default btn-sm">
                                    <input type="radio" name="layout" value="layout_vertical"/>Vertical
                                    <span class="glyphicon glyphicon-resize-vertical"/>
                                </label>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    
                </div>
                
                <div class="sidebar-panel">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Options</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default active btn-sm">
                                    <input type="radio" name="clefs" value="clefs_modernized" checked="true"/>Modern clefs
                                </label>
                                <label class="btn btn-default btn-sm">
                                    <input type="radio" name="clefs" value="clefs_original"/>Original clefs
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row sidebar-option-row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                  <label class="btn btn-default btn-sm">
                                      <input type="checkbox" name="inline_apps" checked="false"/>Show critical notes in the score
                                  </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Playback</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group">
                                <button id="play-button" onclick="play_midi();" class="btn btn-sm btn-default" type="button">
                                    <span class="glyphicon glyphicon-volume-up"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
    
                <!-- top navbar -->
                <div id="navbar" class="navbar navbar-inverse navbar-with-sidebar">
                    <button type="button" class="navbar-toggle sidebar-toggle" data-toggle="offcanvas">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand logo-nav" href="{{ site.fakeurl }}index.xhtml">
                        MODE
                    </a>
                    <div class="navbar-collapse collapse">
                        {% include edition-menu.html %}
                    </div>
                </div>

                <div id="svg_panel" style="background-color: #fff;">
                    <div id="player" style="z-index: 20; position: absolute; display: none;"></div>
                    <div id="svg_output" class="hasSVG" style="overflow:hidden;" />
                </div>
    
                <!-- Modal -->
                {% for m in page.modals %}
                    {% include edition-modals.html %}
                {% endfor %}

    
            </div>
            <!-- /#page-content-wrapper -->

            <script type="text/javascript">
            //<![CDATA[
                $( document ).ready(function() {
        
                    $(window).keyup(function(event){
                        // We need to make sure not to capture event on text fields
                        if ( $(event.target).hasClass('form-control') ) {
                            return;
                        }
                        if ( event.ctrlKey && (event.keyCode == 37) ) {
                            first_page();
                        }
                        else if ( event.keyCode == 37 ) {
                            prev_page();
                        }
                        else if ( event.ctrlKey && (event.keyCode == 39) ) {
                            last_page();
                        }
                        else if ( event.keyCode == 39 ) {
                            next_page();
                        }
                        // see http://www.javascripter.net/faq/keycodes.htm
                        else if ( (event.keyCode == 107) || (event.keyCode == 187) || (event.keyCode == 61)  ) {
                            zoom_in();
                        }
                        else if ( (event.keyCode == 109) || (event.keyCode == 189) || (event.keyCode == 173) ) {
                            zoom_out();
                        }
                        else {
                            //console.log( event.keyCode );
                        }
                    });
        
                    $(window).resize(function(){
                        apply_zoom();
                    });
                    
                    // Adjust the size of the svg_output and the zoom according to the div (screen) size
                    width = $('#svg_panel').width();
                    zoom = Math.min( Math.floor( 100 * width / 2100 ), zoom );
        
                    // Set the popover for the btn
                    $( ".popover-btn" ).popover( );
        
                    // Init the swip
                    enable_swipe( true );
                    
                    $('input[type=checkbox][name=inline_apps]').change(function() {
                        show_inline_app = !show_inline_app;
                        load_page();
                    });
                    

                    $('input[type=radio][name=clefs]').change(function() {
                        if (this.value == 'clefs_modernized') {
                             app_xpath = ""
                             load_file();
                        }
                        else {
                             app_xpath = "./rdg[contains(@label, 'original')]";
                             load_file();
                        }
                    });
                    
                    $('input[type=radio][name=layout]').change(function() {
                         if (this.value == 'layout_horizontal') {
                             vertical_layout = false;
                         }
                        else {
                            vertical_layout = true;
                         }
                        $.cookie('vertical_layout', vertical_layout, { expires: 30 });
                        load_file();
                    });
                    if (vertical_layout) $('input[type=radio][name=layout][value=layout_vertical]').prop('checked', true).parent().addClass("active");
                    else $('input[type=radio][name=layout][value=layout_horizontal]').prop('checked', true).parent().addClass("active");
                    
                    
                    $('[data-toggle=offcanvas]').click(function() {
                        toggle = !toggle;
                        $.cookie('toggle', toggle, { expires: 30 });
                        $('#wrapper').toggleClass('toggled');
                        console.log(toggle);
                    });
      
                    if (toggle == true) {
                        $('#wrapper').toggleClass('toggled');
                    }
      
                    $("#wrapper").on('transitionend webkitTransitionEnd oTransitionEnd mozTransitionend MSTransitionEnd', 
                        function() {
                            if ($(window).width() >= 768) {
                                apply_zoom();
                        }
                    });
                    
                    load_file();
                    
                    $("#player").midiPlayer({
                        color: "#c00",
                        onUnpdate: midiUpdate,
                        onStop: midiStop,
                        width: 250
                    });
                });
            //]]>
            </script>

                
        </div>
        
    </body>
</html>
