<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ced5n384v1b17s4');">Vi-1587 (copy GB-Obl only)</a></td>
         <td>g3 instead of e3, corrected in the other copies</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cgd5n896v1b30s4');">Vi-1587 (copy GB-Obl only)</a></td>
         <td>e3 instead of g3, corrected in the other copies</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cbd4n768v1b42s2');">Vi-1587 (copy I-Vnm only)</a></td>
         <td>a3 instead of b3, corrected in the other copies</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad4n0v1b115s1');">Vi-1587</a></td>
         <td>In all the copies except US-Bem two [M] a3 have been pasted over.</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1ced5n384v1b17s4">Vi-1587 (copy GB-Obl only) – g3 instead of e3, corrected in the other copies</div>
   <div class="p1cgd5n896v1b30s4">Vi-1587 (copy GB-Obl only) – e3 instead of g3, corrected in the other copies</div>
   <div class="p1cbd4n768v1b42s2">Vi-1587 (copy I-Vnm only) – a3 instead of b3, corrected in the other copies</div>
   <div class="p1cad4n0v1b115s1">Vi-1587 – In all the copies except US-Bem two [M] a3 have been pasted over.</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>