<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('measure-000000167526686');">AnGa-1593 Se_heir-1603 AnGa-1605</a></td>
         <td>cut C instead of C</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cfd5n896v1b12s1');">Vi-1587</a></td>
         <td>f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
            f4, but the body of the note is erased.
         </td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="measure-000000167526686">AnGa-1593 Se_heir-1603 AnGa-1605 – cut C instead of C</div>
   <div class="p1cfd5n896v1b12s1">Vi-1587 – f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
      f4, but the body of the note is erased.
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>