<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cfd5n256v1b5s2');">Vi-1587 (I-Vnm copy only)</a></td>
         <td>g4 instead of f4; in all other consulted copies the g4 is clearly corrected to an
            f4
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cdd5n512v1b20s2');">Vi-1587</a></td>
         <td>d4 corrected by erasing and reprinting, except for I-Bc and GB-Obl(?) where the correction
            is done with a pasted cutout
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('measure-000000128428083');">Vi-1587</a></td>
         <td>proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
            sign is 3/2
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('measure-000000128428083');">Vi-1587 AnGa-1593 Sco-1603</a></td>
         <td>proportion sign 2/3 in Vi-1587, except in the the F-Pn copy, where the proportion
            sign is 3/2; proportion sign 3/2 in AnGa-1593 and Sco-1603, later erased and corrected
            in C
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ced5n896v1b128s1');">Vi-1587</a></td>
         <td>e4 added later in all copies</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cfd5n256v1b5s2">Vi-1587 (I-Vnm copy only) – g4 instead of f4; in all other consulted copies the g4 is clearly corrected to an
      f4
   </div>
   <div class="p1cdd5n512v1b20s2">Vi-1587 – d4 corrected by erasing and reprinting, except for I-Bc and GB-Obl(?) where the correction
      is done with a pasted cutout
   </div>
   <div class="measure-000000128428083">Vi-1587 – proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
      sign is 3/2
   </div>
   <div class="measure-000000128428083">Vi-1587 AnGa-1593 Sco-1603 – proportion sign 2/3 in Vi-1587, except in the the F-Pn copy, where the proportion
      sign is 3/2; proportion sign 3/2 in AnGa-1593 and Sco-1603, later erased and corrected
      in C
   </div>
   <div class="p1ced5n896v1b128s1">Vi-1587 – e4 added later in all copies</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>