<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cdd5n0v1b2s1');">Vi-1587</a></td>
         <td>a3; previously c4, then corrected</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cdd5n0v1b2s1">Vi-1587 – a3; previously c4, then corrected</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>