<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cdd5n256v1b4s3');">Vin1588</a></td>
         <td>Sm f3 instead of d3</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad4n512v1b21s4');">Gar1602</a></td>
         <td>M a2 instead of dotted M</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd5n256v1b31s3');">Sco1600 (I-Vn), Sco1608</a></td>
         <td>No sharp before c3</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cdd5n256v1b4s3">Vin1588 – Sm f3 instead of d3</div>
   <div class="p1cad4n512v1b21s4">Gar1602 – M a2 instead of dotted M</div>
   <div class="p1ccd5n256v1b31s3">Sco1600 (I-Vn), Sco1608 – No sharp before c3</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">1</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e617 d2e668 d2e698 d2e734 d2e743 d2e754 d2e785 d2e820 d2e872 d2e883 d2e892 d2e930 d2e939 d2e948 d2e959 d2e1007 d2e1045 d2e1113 d2e1122 d2e1170 d2e1233 d2e1285 d2e1347 d2e1356 d2e1365 d2e1395 d2e1406 d2e1496 d2e1571 d2e1584 d2e1670 d2e1713 d2e1772 d2e1881 d2e1890');">Vin1588 (I-PS) – CA</a></p>
         </td>
         <td style="vertical-align:middle">fa hoggs</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">1</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e617 d2e668 d2e683 d2e698 d2e734 d2e743 d2e754 d2e771 d2e785 d2e820 d2e837 d2e846 d2e855 d2e872 d2e883 d2e892 d2e930 d2e939 d2e948 d2e959 d2e976 d2e1007 d2e1045 d2e1087 d2e1113 d2e1122 d2e1137 d2e1146 d2e1155 d2e1170 d2e1185 d2e1196 d2e1233 d2e1250 d2e1259 d2e1270 d2e1285 d2e1300 d2e1311 d2e1347 d2e1356 d2e1365 d2e1380 d2e1395 d2e1406 d2e1421 d2e1430 d2e1439 d2e1496 d2e1527 d2e1536 d2e1545 d2e1556 d2e1571 d2e1584 d2e1599 d2e1648 d2e1670 d2e1713 d2e1746 d2e1772 d2e1881 d2e1890');">Gar1602 – CATQ</a></p>
         </td>
         <td style="vertical-align:middle">hogg’il</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e1722 d2e1731 d2e1831 d2e1840 d2e1942 d2e1951 d2e1960 d2e2074 d2e2092 d2e2210 d2e2283');">Gar1580 (I-Bc) – C</a></p>
            <p><a href="javascript:load_page_with_element('d2e1757 d2e1855 d2e1866 d2e1975 d2e1984 d2e2109 d2e2127 d2e2225 d2e2309');">Gar1580 (I-Rsc) – Q</a></p>
            <p><a href="javascript:load_page_with_element('d2e1687 d2e1757 d2e1787 d2e1855 d2e1866 d2e1907 d2e1975 d2e1984 d2e2001 d2e2010 d2e2019 d2e2034 d2e2043 d2e2109 d2e2127 d2e2142 d2e2151 d2e2160 d2e2175 d2e2184 d2e2225 d2e2257 d2e2309 d2e2335 d2e2361');">Gar1582 – CAT</a></p>
            <p><a href="javascript:load_page_with_element('d2e1687 d2e1722 d2e1731 d2e1757 d2e1787 d2e1831 d2e1840 d2e1855 d2e1866 d2e1907 d2e1942 d2e1951 d2e1960 d2e1975 d2e1984 d2e2001 d2e2010 d2e2019 d2e2034 d2e2043 d2e2074 d2e2092 d2e2109 d2e2127 d2e2142 d2e2151 d2e2160 d2e2175 d2e2184 d2e2210 d2e2225 d2e2257 d2e2283 d2e2309 d2e2335 d2e2361');">Gar1587 – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('d2e1687 d2e1722 d2e1731 d2e1757 d2e1787 d2e1831 d2e1840 d2e1855 d2e1866 d2e1907 d2e1942 d2e1951 d2e1960 d2e1975 d2e1984 d2e2001 d2e2010 d2e2019 d2e2034 d2e2043 d2e2074 d2e2092 d2e2109 d2e2127 d2e2142 d2e2151 d2e2160 d2e2175 d2e2184 d2e2210 d2e2225 d2e2257 d2e2283 d2e2309 d2e2335 d2e2361');">Vin1588 (I-PS) – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('d2e1757 d2e1855 d2e1866 d2e1975 d2e1984 d2e2109 d2e2127 d2e2225 d2e2309');">Sco1600 (BG-Lbl) – Q</a></p>
            <p><a href="javascript:load_page_with_element('d2e2001 d2e2010 d2e2019 d2e2142 d2e2151 d2e2160 d2e2335');">Sco1600 (I-Vnm) – A</a></p>
            <p><a href="javascript:load_page_with_element('d2e1687 d2e1722 d2e1731 d2e1757 d2e1787 d2e1831 d2e1840 d2e1855 d2e1866 d2e1907 d2e1942 d2e1951 d2e1960 d2e1975 d2e1984 d2e2001 d2e2010 d2e2019 d2e2034 d2e2043 d2e2074 d2e2092 d2e2109 d2e2127 d2e2142 d2e2151 d2e2160 d2e2175 d2e2184 d2e2210 d2e2225 d2e2257 d2e2283 d2e2309 d2e2335 d2e2361');">Gar1602 – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('d2e1687 d2e1722 d2e1731 d2e1787 d2e1831 d2e1840 d2e1907 d2e1942 d2e1951 d2e1960 d2e2001 d2e2010 d2e2019 d2e2034 d2e2043 d2e2074 d2e2092 d2e2142 d2e2151 d2e2160 d2e2175 d2e2184 d2e2210 d2e2257 d2e2283 d2e2335 d2e2361');">Sco1608 – CAT</a></p>
         </td>
         <td style="vertical-align:middle">Che fa il mio</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e1722 d2e1731 d2e1757 d2e1831 d2e1840 d2e1855 d2e1866 d2e1942 d2e1951 d2e1960 d2e1975 d2e1984 d2e2001 d2e2010 d2e2019 d2e2074 d2e2092 d2e2109 d2e2127 d2e2142 d2e2151 d2e2160 d2e2210 d2e2225 d2e2283 d2e2309 d2e2335');">VinAm1586 – CAQ</a></p>
         </td>
         <td style="vertical-align:middle">cant’e’l suono</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">3</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e2294 d2e2320 d2e2346 d2e2378 d2e2396 d2e2405 d2e2414 d2e2423 d2e2438 d2e2447 d2e2456 d2e2465 d2e2480 d2e2491 d2e2502 d2e2511 d2e2534 d2e2543 d2e2552 d2e2561 d2e2581 d2e2594 d2e2609 d2e2620 d2e2635 d2e2646 d2e2663 d2e2678 d2e2699 d2e2708 d2e2717 d2e2726 d2e2741 d2e2750 d2e2759 d2e2768 d2e2783 d2e2794 d2e2805 d2e2814 d2e2829 d2e2838 d2e2847 d2e2856 d2e2882 d2e2891 d2e2908 d2e2917 d2e2932 d2e2943 d2e2958 d2e2967 d2e2984 d2e3010 d2e3019 d2e3034 d2e3045 d2e3060 d2e3069 d2e3078 d2e3095 d2e3104 d2e3119 d2e3128 d2e3146 d2e3161 d2e3199 d2e3214 d2e3234 d2e3260 d2e3286 d2e3301 d2e3327');">Gar1580 (GB-Lwa) – All voices</a></p>
            <p><a href="javascript:load_page_with_element('d2e2294 d2e2320 d2e2346 d2e2378 d2e2396 d2e2405 d2e2414 d2e2423 d2e2438 d2e2447 d2e2456 d2e2465 d2e2480 d2e2491 d2e2502 d2e2511 d2e2534 d2e2543 d2e2552 d2e2561 d2e2581 d2e2594 d2e2609 d2e2620 d2e2635 d2e2646 d2e2663 d2e2678 d2e2699 d2e2708 d2e2717 d2e2726 d2e2741 d2e2750 d2e2759 d2e2768 d2e2783 d2e2794 d2e2805 d2e2814 d2e2829 d2e2838 d2e2847 d2e2856 d2e2882 d2e2891 d2e2908 d2e2917 d2e2932 d2e2943 d2e2958 d2e2967 d2e2984 d2e3010 d2e3019 d2e3034 d2e3045 d2e3060 d2e3069 d2e3078 d2e3095 d2e3104 d2e3119 d2e3128 d2e3146 d2e3161 d2e3199 d2e3214 d2e3234 d2e3260 d2e3286 d2e3301 d2e3327');">Gar1580 (D-Mbs) – All voices</a></p>
            <p><a href="javascript:load_page_with_element('d2e2320 d2e2346 d2e2378 d2e2438 d2e2447 d2e2456 d2e2465 d2e2480 d2e2491 d2e2502 d2e2511 d2e2534 d2e2543 d2e2552 d2e2561 d2e2609 d2e2620 d2e2635 d2e2646 d2e2663 d2e2678 d2e2741 d2e2750 d2e2759 d2e2768 d2e2783 d2e2794 d2e2805 d2e2814 d2e2829 d2e2838 d2e2847 d2e2856 d2e2908 d2e2917 d2e2932 d2e2943 d2e2958 d2e2967 d2e2984 d2e3034 d2e3045 d2e3060 d2e3069 d2e3078 d2e3095 d2e3104 d2e3119 d2e3128 d2e3161 d2e3199 d2e3214 d2e3260 d2e3286 d2e3301 d2e3327');">Gar1580 (I-Bc) – ATBQ</a></p>
            <p><a href="javascript:load_page_with_element('d2e2663 d2e2829 d2e2838 d2e2847 d2e2856 d2e2958 d2e2967 d2e3095 d2e3104 d2e3199 d2e3301');">Gar1580 (P-Kj) – T</a></p>
            <p><a href="javascript:load_page_with_element('d2e2378 d2e2534 d2e2543 d2e2552 d2e2561 d2e2678 d2e2984 d2e3119 d2e3128 d2e3214 d2e3327');">Gar1580 (I-Vnm) – B</a></p>
            <p><a href="javascript:load_page_with_element('d2e2378 d2e2534 d2e2543 d2e2552 d2e2561 d2e2678 d2e2984 d2e3119 d2e3128 d2e3214 d2e3327');">Gar1582B – B</a></p>
         </td>
         <td style="vertical-align:middle">gloria e’l nome</td>
      </tr>
   </tbody>
</table>