<p>
	In his <em>The Compleat Gentleman</em>, a manual for the education of the nobility first printed in London in 1622, Henry Peacham mentions “Che fa oggi il mio sole” among Marenzio’s madrigals that “the Muses themselves might not have beene ashamed to have had composed.” The passage testifies to the enduring popularity of Marenzio’s music in England. 
</p>

<div align="center" style="padding: 20px;">
    <img src="{{ site.fakeurl }}files/M-01-5-07-peacham.png" class="img-responsive"></img>
</div>

<p>
    Source: Henry Peacham, <em>The Compleat Gentleman</em>, with an introduction by G.S. Gordon (Oxford: Clarendon Press, 1906; reprint of the 1634 edition), p. 101.
</p>

<p>
    The canto part of “Che fa oggi il mio sole” serves as model for one of Adriano Banchieri’s contrapuntal exercises published in his <em>Il principiante fanciullo</em> a due voci (Venice: Bartolomeo Magni, 1625). Pupils were taught how to add a second voice to a melodic line drawn from popular works by composers of undisputed importance. Marenzio’s original music is in the top voice. The lower voice is the counterpoint added by Banchieri. [<a href="{{ site.fakeurl }}files/M-01-5-07-banchieri-bicinium.pdf" target="_blank">PDF score</a>]
</p>

<p>
    Banchieri drops the second line of the text and adjusts the rest of the poem accordingly. A similar variant appears in Gioseppe Caimo’s <em>Madrigali a cinque voci, libro quarto</em> (Venice: Giacomo Vincenti et Ricciardo Amadino compagni ad instantia di Pietro Tini, 1585). However, Caimo fails to correct the verb in the third line from third person plural (“cantan”) to third person singular (“canta”). The result is a grammatically improper text. Here are the three versions (for the variant vanto/nome see the critical report):
</p>

<table class="table">
    <thead>
        <tr>
            <th>Marenzio (1580)</th>
            <th>Caimo (1585)</th>
            <th>Banchieri (1625)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p class="app_text">
                	Che fa oggi il mio sole,<br/>
                	Che fa ’l mio canto e ’l suono,<br/>
                	Che non cantan di lei la gloria e ’l vanto?<br/>
                	Or queste mie viole<br/>
                	E questi fior gli dono<br/>
                	Che ne facci corona a le sue chiome.
                </p>
            </td>
            <td>
                <p class="app_text">
                	Che fa oggi il mio sole,<br/>
                	Che non cantan di lei la gloria e il vanto?<br/>
                	Or queste mie viole<br/>
                	E questi fior gli dono<br/>
                	Che ne facci corona a le sue chiome.
                </p>
            </td>
            <td>
                <p class="app_text">
                	Che fa oggi il mio sole,<br/>
                	Che non canta di lei la gloria e il nome?<br/>
                	Or queste mie viole<br/>
                	E questi fior gli dono<br/>
                	Che ne facci corona a le sue chiome.
                </p>
            </td>
        </tr>
    </tbody>
</table>

<p>
    For a modern edition of Caimo’s madrigals see Gioseppe Caimo, <em>Madrigali and Canzoni for Four and Five Voices</em>, ed. Leta E. Miller (Madison [Wis.]: A-R Editions, 1990).
</p>